<h1 class="text-center">Search results for "<%= params[:search] %>"</h1>

<% if @corrals.empty? %>
  Sorry, nothing matches your search...
<% else %>
  <% @corrals.each do |corral| %>
    <h3><%= corral.location %></h3>
    <p><%= pluralize(corral.racks, "rack") %></p>
  <% end %>
<% end %>