<h1 class="page-header text-center">Rackit Users</h1>

<div class="container">
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-lg-4 col-sm-6">
        <%= link_to user_path(user.id) do %>
          <%= image_tag user.image_url, class: "img-circle img-responsive", width: 80, height: 80 %>
          <h3><%= user.name %></h3>
        <% end %>       
      </div>
    <% end %>
  </div>
</div>
<br>

