<h1 class="page-header text-center">Rackit Users</h1>

<div class="container">
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-lg-4 col-sm-6">
        <%= link_to user_path(user.id) do %>
          <%= image_tag user.image_url, class: "img-circle img-responsive", width: 80, height: 80 %>
          <h3><%= user.name %></h3>
        <% end %>       
      </div>
    <% end %>
  </div>
</div>
<br>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<script type="text/javascript">
    handler = Gmaps.build('Google',
        {markers:
          {clusterer: {
            gridSize: 40,
            maxZoom: 10,
            styles: [ {
              textSize: 10,
              textColor: '#ff0000',
              url: base_url + 'heart30.png',
              height: 26,
              width: 30 }
            , {
              textSize: 14, 
              textColor: '#ffff00',
              url: base_url + 'heart40.png',
              height: 35,
              width: 40 }
            , {
             textSize: 18, 
             textColor: '#0000ff',
             url: base_url + 'heart50.png',
             width: 50,
             height: 44}
            ]}}}
      );
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(addedTogether);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();

    });
</script>