<h1>Hello! Welcome to Rackit!</h1>

<% if current_user %>
  Signed in as <%= current_user.name %>!
  <%= link_to "Sign out", signout_path %>
<% else %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  <%# link_to "Sign in with Foursquare", "/auth/foursquare" %>
<% end %>
