<h1>Listing Nearby Crimes</h1>
<h2>Your Current Location:</h2>

<%# location_data %>

<table class="table table-hover table-responsive">
 <thead>
   <tr>
     <th>Borough</th>
     <th>Latitude</th>
     <th>Longitude</th>
   </tr>
 </thead>

 <tbody>
   <% @crimes.each do |crime| %>
   <% binding.pry %>
     <tr>
       <!-- <td><%= crime.borough.name %></td> -->
       <td><%= crime.latitude %></td>
       <td><%= crime.longitude %></td>
     </tr>
   <% end %>
 </tbody>
</table>
