  <p>
    <strong>Location:</strong>
    <%= @crime.location %>
  </p>

  <p>
    <strong>Borough:</strong>
    <%= @crime.borough.name %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= @crime.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= @crime.longitude %>
  </p>
</div>



