// Place all the styles related to the crimes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


map.data.setStyle({
  fillColor: '#ff0000',
  fillOpacity: .3,
  strokeWeight: 0
});
