<section class="hero" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center inner">
        <div class="animatedParent">
          <h1 class="animated fadeInDown"><span class="fa fa-3x fa-bicycle">Rackit</span></h1>
          <a href="/auth/twitter" class="animated fadeInUp btn btn-lg btn-primary"><span class="fa fa-2x fa-twitter"></span> Login With Twitter</a>
        </div>
     </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p class="text-muted text-center">Made with <span class="fa fa-heart"></span> by <a href="https://github.com/DanFerrer">Dan</a>, <a href="https://github.com/antropova">Masha</a>, <a href="https://github.com/JayanaJ">Jayana</a>, and <a href="https://github.com/tiffanyhaltom">Tiffany</a>
        <p class="text-muted text-center"><a href="http://flatironschool.com/">@flatironschool</a>
      </div>
    </div>
  </div>
</footer>
